.navbar {
    font-family: Arial, sans-serif;
    font-size: 28px;
}

.card-img-top {
    max-width: 20%;
    height: auto;
}

.container {
    max-width: 100%;
}

.carousel .d-block {
    max-height: 300px;
    max-width: 40%;
    width: auto;
    height: auto;
    margin: auto;
}